.cartBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    width: 80% auto;
    margin: 10rem 8.5rem 10rem 8.5rem;
}

.eachCartItem {
  width: 580px;
  height: 140px;
  padding-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
  border-radius: 15px;
  box-shadow: 2px 2px 45px -20px rgba(0, 0, 0, 0.4);
} 

.dishContainer {
  border-radius: 20px;
  background-color: #c4c4c4;
  height: 70px;
  width: 85px;
  margin-left: 3rem;
}

.dishContainer img {
  height: 100%;
  margin-left: -1.7rem;
}

.idContainer {
  margin-left: 2rem;
}

.idName {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.orderSize {
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: black;
  color: #ffda7f;
  height: 21px;
  width: 70px;
} 

.price {
  color: black;
  font-size: 2.2rem;
  font-weight: 800;
  padding-bottom: 2.7rem;
} 

.counterContainer {
    background-color: #171616;
    border: none;
    margin: 0 5rem 0 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    width: 19%;
    height: 3.6rem;
}

.countContainer {
  background-color: #ffda7f;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.count {
    border: none;
    font-size: 1.65rem;
    font-weight: 600;
    border-radius: 50%;

}

.btns {
    background: none;
    border: none;
    color: #ffda7f;
    font-size: 23px;
    border-radius: 70%;
}

.removeOrder {
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: -2rem;
  
}

.paymentContainer {
  background: #171616;
  text-align: center;
  width: 330px;
  height: 340px;
  border-radius: 14px;
  padding-top: 4.8rem;
}

.paymentContainer p {
  color: #ffda7f;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 3.2rem;
}

.totalText {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: white;
  padding-bottom: 0.2rem;
}

.totalAmount {
  color: white;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2.5rem;
}

.modal {
  border: none;
  background: #ffda7f;
  outline: none;
  font-size: 18px;
  font-weight: 800;
  color: black;
  width: 200px;
  height: 49px;
  border-radius: 40px;
}

.modal_pop {
  margin: 20em 40em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 150px;
}

.modal_pop_text {
  margin: 3em auto;
}

.okBtn {
  padding: 7px 15px;
  margin-top: 12px;
  background-color: #171616;
  border: none;
  color: #ffda7f;
  font-weight: 600;
  font-size: 12px;
}