.hero {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 30px;
  height: 100vh;
}

@media (min-width: 576px) {
  .hero {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 30px;
    height: 100vh;
  }
}
.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}
.cartscreen h3 {
  margin-bottom: 1rem;
}
.cartscreen_left {
  /* flex: 0.7; */
  margin: 60px 20px 0px 20px;
  background: white;
}
.cartdish{
  width: 700px;
  height: 120px;
  padding: 1rem;
  margin: 0px 30px 8px 20px;
  display: grid;
  grid-template-columns: 0fr 0.3fr 1.2fr 1fr;
  gap: 8px;
  box-shadow: 5px 5px 10px 10px rgb(175, 175, 175);;
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  place-items: center;
} 
.dishid{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.dishimage img {
  border-radius: 20%;
  height: 70px;
  width: 80px;
  margin-left: 15px;
}

.qty{
  margin: 0px;
}
.size {
  border: solid 2px black;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  background-color: black;
  color: rgb(201, 201, 103);
  height: 18px;
  max-width: 70px;
} 
.price {
  color: black;
  font-size: 17px;
  font-weight: 800;
  margin: 0px 0px 30px 0px;
} 
.remove {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}
.counter{
    background-color: black;
    border: none;
    margin: 0px 80px 0px 60px;
    width: 70px;
    justify-content: space-evenly;
    border-radius: 20px;
}
.btns {
    margin: 0px 7px;
    background-color: black;
    border: none;
    color: rgb(201, 201, 103);
    font-size: 17px;
    border-radius: 70%;
}
.count {
    border: none;
    background-color: rgb(201, 201, 103);
    color: black;
    font-size: 14px;
    border-radius: 50%;
}
.cartscreen_right {
  margin: 90px 50px;
  background: black;
  text-align: center;
  width: 330px;
  height: 350px;
  border-radius: 15%;
}
.cartscreen_right p{
  margin: 50px;
  color: rgb(201, 201, 103)
}
.total {
  font-size: 12px;
  margin-bottom: 15px;
}
.total, .cal{
  color: white;
}
.cal {
  margin-bottom: 40px;
  font-size: 20px;
}
.btn {
  border: none;
  background: rgb(204, 204, 99);
  font-size: 18px;
  font-weight: 800;
  color: black;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}

@media(max-width: 1320px){
  .cartscreen{
    max-width: 900px;
    flex-direction: column;
  }
  .cartscreen_left{
    margin: 0;
  }
  .cartscreen_right{
    margin: 10px 50px 40px 50px;
    max-height: 300px;
  }
}
@media(max-width: 960px){
  .cartscreen {
    max-width: 800px;
    flex-direction: column;
    margin: 30px 10px 0 0;
  }
  .cartscreen_left{
    margin: 0;
  }
  .cartscreen_right{
    margin: 0 20px 30px 20px;
    max-height: 300px;
  }
  .counter{
    max-width: 70px;
    margin: 20px;
    border-radius: 50px;
}
.btn{
    font-size: 15px;
    border-radius: 50px;
    margin: 7px;
}
.count{
    font-size: 12px;
}
}
@media(max-width: 700px){
  .cartdish{
      max-width: 500px;
  }
  .remove{
      padding: 8px 5px;
      font-size: 0.5rem;
  }
  .price{
      font-size: 0.9rem;
  }
  .size{
      font-size: 0.5rem;
      max-width: 50px;
      height: 15px;
  }
  .counter{
    max-width: 60px;
    margin: 0;
    border-radius: 45px;
}
.btn{
    font-size: 15px;
    border-radius: 60px;
    margin: 6px;
}
.count{
    font-size: 13px;
    margin: 0;
}
}
@media(max-width: 500px){
  .cartscreen{
    width: 100%;
    flex-direction: column-reverse;
   margin-top: 13rem;
    align-self: center;
   justify-content: center;
   align-items: center;
  }
  
  .cartscreen_left{
    margin: 0;
  }
  .cartdish{
    width: 100%;

}
.dishid{
font-size: 0.7rem;
}
.remove{
    padding: 2px 3px;
    font-size: 0.6rem;

}
.price{
    font-size: 0.7rem;
}
.size{
    font-size: 0.4rem;
    max-width: 40px;
    height: 10px;
}
  .cartscreen_right{
    margin: 0 10px 20px 10px;
    max-height: 25rem;
    width: 30rem;
  }
   .cartscreen_right div:not(:last-child){
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     height: 15rem;
   }
  .cartscreen_right div p, .cartscreen_right div h2{
    margin: 0;
    padding: 0;
  }
  .counter{
    width: 9rem;
    height: 5rem;
    margin: 0px;
    border-radius: 40px;
}
.btn{
    font-size: 11px;
    border-radius: 70px;
    margin: 0 5px;
}
.count{
    font-size: 9px;
    margin: 0;
}
}