
.allCartContainer{
  display: flex;
  flex-direction: column;
  

  padding: 8rem 2rem 0 2rem;
 
}


.cartContainer{
  
  display: grid;
grid-template-columns: repeat(2, 1fr);
  height: auto;
  grid-gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  flex: 0.65;
  overflow: scroll;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cartContainer::-webkit-scrollbar{
  display: none;
  background: #000000; 
  background: -webkit-linear-gradient(to right, #000000, #434343); 
  background: linear-gradient(to right, #000000, #434343);
}

.eachCartItem{
  margin-top: 5rem;
}

.eachCartItem{
background: #FFFFFF;
box-shadow: 2px 2px 66px -19px rgba(0, 0, 0, 0.4);
border-radius: 20px;
display: flex;
flex-direction: row;
margin-bottom: 7rem;

padding: 2rem 3rem;
align-items: center;
width: 100%;
justify-content: space-between;
}

.dishContainer{
  min-width: 12.6rem;
  height: 10rem;
  background: #C4C4C4;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 35px;

}

.dish{
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 35px;
}

.idContainer{
  margin-left: 3rem;
}

.idContainer a{
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
}

.orderSize{
  background-color: #000;
  color: #FFDA7F;
  padding: 0.5rem 0.7rem;
  max-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.4rem;
 
}

.counterContainer{
display: flex;
  flex-direction: row;
  align-items: center;
background-color: #000;
padding: 0.5rem 3rem;
border-radius: 2rem;
margin: 3rem;
}

.counterContainer > div, .counterContainer > button:not(:first-of-type){
  margin-left: 1rem;
}

.countContainer {
  background-color: #ffda7f;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.count {
    border: none;
    font-size: 1.65rem;
    font-weight: 600;
    border-radius: 50%;

}

.btns {
    background: none;
    border: none;
    color: #ffda7f;
    font-size: 23px;
    border-radius: 70%;
}

.qty{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: space-around;
}

.qty button{
  outline: none;
  background: transparent;
  border: none;
  color: #F12121;
  cursor:  pointer;
  font-size: 1.2rem;
}

.paymentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex: 0.35;
  overflow: hidden;
  flex-direction: column;
  padding: 0 10rem;
  max-height: 100vh;
}

.container{
  padding: 3rem 6rem;
  height: 30rem;
  width: 100%;
 background-color: #000;
 border-radius: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
}

.container p{
  color:#FFDA7F;
  font-size: 2.1rem;
}

.orderInfo h2{
  color: #fff;
}

.payBtn{
  padding: 1rem 6rem;
  text-align: center;
  outline: none;
  background-color: #FFDA7F;
  backdrop-filter: blur(4px);
border-radius: 50px;
font-size: 2rem;
font-weight: 700;
}