.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
/* Remove IE arrow */
.select select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
     width: 17rem;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: 10rem;
  border: 1px solid #000;
}
.select select {
  flex: 1;
  padding: 0 .5em;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #000;
}
