.circle {
  display: none;
  position: absolute;
}

.plateImageLeft {
  position: absolute;
  z-index: -1;
  left: 0;
  transform: rotate(40.62deg);
}

.plateImageRight {
  z-index: -1;
  position: absolute;
}

.arrowLeft {
  cursor: pointer;
}

.darkVariantCart {
  width: 3rem;
}

.landingdarkVariantCart {
  display: flex;
}

.landingLightIcon {
  display: none;
  width: 4rem;
}

.heart {
  stroke-width: 1;
  position: relative;
  fill: white;
  top: 5px;
  width: 4rem;
  
  margin-right: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  /* cursor: pointer; */
  }
  
.active svg{
  animation: pulse 1s ease;
  fill: crimson;
  stroke-width: 0;
  width: 4rem;
  margin-left: auto;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@media (min-width: 400px) {
  .circle {
    /* display: block; */
    width: 200px;
    height: 147px;
    z-index: -1;
  }
}

@media (min-width: 576px) {
  .circle {
    display: block;
    width: 350px;
    height: 260px;
  }
}

@media (min-width: 767px) {
  .circle {
    display: block;

    width: 580px;
    height: 350px;
  }
  .landingLightIcon {
    display: flex;
    width: 4rem;
  }
}

@media (min-width: 1024px) {
  .circle {
    display: block;
    width: 600px;
    height: 500px;
  }
}
