.circle {
  display: none;
  position: absolute;
}

.plateImageLeft {
  position: absolute;
  z-index: -1;
  left: 0;
  transform: rotate(40.62deg);
}

.plateImageRight {
  z-index: -1;
  position: absolute;
}

.arrowLeft {
  cursor: pointer;
}

.darkVariantCart {
  width: 3rem;
}

.landingdarkVariantCart {
  display: flex;
}

.landingLightIcon {
  display: none;
  width: 4rem;
}

@media (min-width: 400px) {
  .circle {
    /* display: block; */
    width: 200px;
    height: 147px;
    z-index: -1;
  }
}

@media (min-width: 576px) {
  .circle {
    display: block;
    width: 350px;
    height: 260px;
  }
}

@media (min-width: 767px) {
  .circle {
    display: block;

    width: 580px;
    height: 350px;
  }
  .landingLightIcon {
    display: flex;
    width: 4rem;
  }
}

@media (min-width: 1024px) {
  .circle {
    display: block;
    width: 600px;
    height: 500px;
  }
}
