.heroSection {
  height: 100vh;
  position: relative;
  padding-left: 56px;
  padding-right: 56px;
}
.main{
    padding-left: 56px;
  padding-right: 56px;
}
.signUp a:hover{
  color: #fff !important;
}
.circle {
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 0;
}

.menuToggle {
  display: flex;
}

.logo {
  font-style: normal;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.02em;
  margin-right: auto;
  color: #fff;
}


.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  background: #000;
  border: 1px solid #000;
  /* z-index: 1; */
}

.landingNav {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navLinks {
  margin-left: 40px;
}

.landingNav li {
  list-style: none;
  margin-left: 2rem;
}
.landingNav .navLinks a {
  text-decoration: none;
  color: #000;
}

.logo a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.cart {
  width: 66px;
  height: 53px;
}

.signUp a,
.logIn a {
  color: red;
}

.signUp {
  background: transparent;
  border: none;

  align-self: center;
}

.logIn {
  background: transparent;
  color: #000;
  border: none;
}

.foodImg {
  display: flex;
  width: 45rem;
}

.input {
  border-radius: 50px;
  outline: none;
  border: 1px solid #000;
  padding: 1rem;
  display: flex;
  width: 200px;
  color: #000;
  margin-top: 10px;
}
.input::placeholder {
  color: #000;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-start !important;
  width: 100%;
}
.heroContent {
  
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.heroContent .heroCaption{
  font-size: 3.3rem;
}

.heroContent div p{
  font-size: 1.4rem;
}

.left,
.right {
  bottom: 0;
}

.left {
  right: 0;
  height: 140px;
}

.right {
  display: none;
}

.menuToggle {
  display: flex;
  flex-direction: column;
  background: transparent;
  color: #fff;
  border: none;
}

.menuToggle i {
  background-color: #fff;
  width: 3.2rem;
  height: 0.4rem;
  margin: 0.4rem;
  border-radius: 2px;
  transition: all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(16px);
}
.open:nth-child(2) {
  opacity: 0;
}
.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-16px);
}
.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}
.close:nth-child(2) {
  opacity: 1;
}
.close:nth-child(3) {
  transform: rotate(0) translateY(0);
}

#mobileNav {
  position: fixed;
  width: 28rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  height: 100%;
  padding: 0 3rem;
  transition: transform 1s ease-in-out;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#mobileNav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem;
  justify-content: space-around;
  font-size: 2.4rem;
  align-items: center;
}

#mobileNav li {
  padding: 0;
  margin: 0 auto;
}

#menuHidden ul li:first-child {
  justify-self: flex-start;
  border-bottom: 1px solid black;
  margin-left: 0;
  display: flex;
  font-size: 3rem;
}

.menuMask {
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  /* z-index: 1; */
  opacity: 0.3;
  top: 0;
  left: 0;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput,
.filterInput {
  padding-right: 20px;
}

.searchInput input{
  padding: 0.5rem 1rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid #000;
  width: 200px;
}

.filterInput select::-ms-expand {
  display: none;
}

#mobileNav .logIn {
  color: red;
}

#mobileNav a svg {
  fill: #000;
}

.landingNav li p:first-child {
  display: flex;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.next {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
}
.searchInput {
    border-radius: 50px;
    width: 14rem;
   padding: 0.7rem 1rem;
    outline: none;
    border: 1px solid #000;
  
  }
.mostOrderedDish {
  width: 100%;

  align-items: center;
  padding-bottom: 4rem;
}

.allDishesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
  align-items: center;
}

.filterContainer {

   flex-direction: column;
    width: auto;
    display: flex;
    align-items: center;
    height: 10rem;
    justify-content: space-around;
}


  .clients{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(7rem, auto);
justify-content: center;
}

.clients img{
  
  justify-self: center;
  align-self: center;
  width: 8rem;
}

.clients .clientsHeading{
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    color:  rgba(0, 0, 0, 0.35);
 
}
.access{
  grid-column: 1/3;
}

.pending{
  background: #fff;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

@media (max-width: 400px) {
  .heroSection, .main {
    padding-left: 25px;
    padding-right: 25px;
  }
  
}
@media (min-width: 767px) {
  .landingNav {
    display: flex;
  }

  .heroContent {
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .next {
    display: flex;
  }
  .menuToggle {
    display: none;
  }
  .landingNav li p:first-child {
    display: none;
  }
  .cartText {
    display: none;
  }
  .landingNav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
  }
  .logIn a {
    background: #ffda7f;
    color: #000 !important;
    padding: 10px 20px;
    border-radius: 20px;
   font-size: 1.5rem;
    width: auto;
  }
  .signUp {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
       font-size: 1.5rem;
  }
  .landingNav .navLinks a {
    color: white;
    font-size: 1.5rem;
  }
  .allDishesHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

  .mostOrderedDish .modHeader h2{
    font-size: 2rem;
  }
  .filterContainer {
    flex-direction: row;
    justify-content: flex-end;
    width: 54.4rem;
   display: flex;
   align-items: center;
  }
  .clients{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(10rem, auto);
 padding: 0 7rem;
}
.clients img{
  max-width: 120px;
  justify-self: center;
  align-self: center;
  width: 20rem;
}
.clients .clientsHeading{
  grid-column: 1/6;
  font-size: 2rem;
     letter-spacing: 0.7rem;
}

.access{
  grid-column: 5;
}
.searchInput{
  margin-right: 2rem;
}
.foodImg {
  display: flex !important;
  margin-left: -12rem;
  width: 500px;

}

}

@media (min-width: 991.98px) {
  .navLinks:not(:first-child) {
    margin-left: 30px;
    display: block;
  }

  .heroSection, .main{
    position: relative;
    padding-left: 135px;
    padding-right: 60px;
    overflow: hidden;
  }
  .heroContent {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
  }

  .heroContent > div {
    height: 100%;
  }

  .heroContent div:first-child {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .heroContent div:not(first-child) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  .input {
    width: 300px;
  }

  .foodImg {
    display: flex;
  }
  .left {
    bottom: 0;
  }

  .right {
    bottom: 50px;
    right: 150px;
    display: block;
  }

  .address {
    margin-top: 60px;
  }
  .clients{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(12rem, auto);
 padding: 0 7rem;
}

.clients img{
  max-width: 250px;
  justify-self: center;
  align-self: center;
  width: 20rem;
}

.clients .clientsHeading{
    grid-column: 1/6;
    justify-self: center;
    align-self: flex-end;
    
    color:  rgba(0, 0, 0, 0.35);
    letter-spacing: 0.7rem;
}

.access{
  grid-column: 5;
}

}

@media (min-width: 576px) {
  .menuToggle i {
    background-color: #fff;
  }
  .clients img{
    width: 9.7rem;
  }
.foodImg {
  display: none;
}
}
