.productBody{
    padding: 5rem;
}

.productPreview{
    margin-top: 5rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.productInfo{
    grid-column: 1/3;
}

.productPreview h1{
    font-size: 9.6rem;
}

.productPreview .productInfo h3{
    font-size: 4.8rem;
}

.productPreview .productInfo h3:nth-of-type(1){
    color: rgba(0, 0, 0, 0.56);
}

.productPreview p{
    font-size: 2rem;
}

.cta{
    color: #fff;
    background: #000;
    outline: none;
    border: none;
    border-radius: 1rem;
    width: 27.5rem;
    height: 7.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.productImage{
    height: 40rem;
    width: 50rem;
    margin-top: 2rem;

}

.productImage img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

.productMedia{
display: flex;
flex-direction: column;
}

.ratingIcon{
    width: 3rem;
    height: 3rem;
}
.active{
    width: 6rem;
    margin-left: auto;
}

.shareProduct{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-top: 4rem;
}


.socials{
display: flex;
    justify-content: space-around;
}
.shareProduct h3{
    font-size: 3rem;
    align-self: flex-end;
}

.socials img{
    width: 3rem;
    cursor: pointer;
}

.reviewHeading{
    display: flex;
    justify-self: center;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: 700;
    width: fit-content;
}

.reviewContainer{
    display: grid;
    margin: 3rem auto;
    align-items: center;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
   
}

.reviewContainer .review{
    padding: 2rem;
     box-shadow: 7px 7px 0px -3px #000000;
}

.user{
    font-weight: 700;
    font-size: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user div{
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 1rem;
}

.reviewTitle{
    
    
}

.reviewComment{
    font-size: 2rem;
    outline: none;
}


.createReview{
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.createReview form{
    display: flex;
    flex-direction: column;
}
.createReview header{
    font-weight: 700;
    font-size: 3.6rem;

   
}

.createReview input{
    width: 40rem;
    outline: none;
margin-bottom: 3rem;
     background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;

border-radius: 10px;
   
}

.createReview  .reviewTitle{
height: 4rem;
}

.createReview  .reviewComment{
    height: 20rem;
    border-radius: 10px;
}

.reviewTitle, .reviewComment{
    padding: 1rem;
    font-size: 1.5rem;
}

.submitReview{
        width: 15rem;
    padding: 1rem;
   
    border: 1px solid black;
    background: #000;
    color: #fff;
    outline: none;
   font-weight: 700;
    margin: 2rem auto;
    font-size: 1.5rem;
}

.submitReview:hover{
    background: #fff;
     color: #000;
     transition: all ease .5s;
}

.createReview form label{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.createReview form{

}
.reviewFormContainer{
    margin-top: 10rem;
}

.pending{
  background: #fff;
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 100vh;
}