.productBody{
    padding: 5rem;
}

.productPreview{
    margin-top: 5rem;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.productInfo{
    grid-column: 1/3;
}

.productPreview h1{
    font-size: 9.6rem;
}

.productPreview .productInfo h3{
    font-size: 4.8rem;
}

.productPreview .productInfo h3:nth-of-type(1){
    color: rgba(0, 0, 0, 0.56);
}

.productPreview p{
    font-size: 2rem;
}

.cta{
    color: #fff;
    background: #000;
    outline: none;
    border: none;
    border-radius: 1rem;
    width: 27.5rem;
    height: 7.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.productImage{

    margin-top: 2rem;
}

.productImage img{
    width: 100%;
    
}

.productMedia{
display: flex;
flex-direction: column;
}

.ratingIcon{
    width: 3rem;
    height: 3rem;
}
.active{
    width: 6rem;
    margin-left: auto;
}

.shareProduct{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-top: 4rem;
}


.socials{
display: flex;
    justify-content: space-around;
}
.shareProduct h3{
    font-size: 3rem;
    align-self: flex-end;
}

.socials img{
    width: 3rem;
    cursor: pointer;
}