.button,
.menuToggle {
  border: none;
  outline: none;
  background: transparent;
}

.topNav,
.menu {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* position: relative; */
}
.menuToggle {
  margin-left: auto;
}
.navContent {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.menuMask {
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  top: 0;
  left: 0;
}

#menuHidden {
  position: absolute;
  width: 70%;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  height: 100vh;
  padding: 0 3rem;
  transition: transform 1s ease-in-out;
  left: 0;
  top: 0;
  display: flex;
}

.navContent li {
  padding-right: 3rem;
}

.logout,
.cart {
  border: none;
  background: transparent;
  color: red;
  cursor: pointer;
}
.brand {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  /* color: #fff; */
}

.brand p {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.menuToggle {
  display: flex;
  flex-direction: column;
}

.menuToggle i {
  background-color: #000;
  width: 3.2rem;
  height: 0.4rem;
  margin: 0.2rem;
  border-radius: 2px;
  transition: all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(16px);
}
.open:nth-child(2) {
  opacity: 0;
}
.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-16px);
}
.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}
.close:nth-child(2) {
  opacity: 1;
}
.close:nth-child(3) {
  transform: rotate(0) translateY(0);
}
@media (min-width: 920px) {
  .navContent {
    display: flex;
  }
  .menu i {
    display: none;
  }
  .navContent li {
    padding-right: 3rem !important;
  }
}

@media (min-width: 767px) {
  .menuToggle {
    display: none;
  }
  .navContent li {
    padding-right: 0.4rem;
  }
  .navContent {
    display: flex;
  }

  .navContent ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (min-width: 576px) {
  .checkout_brand .brand p {
    color: #fff;
  }

  .checkout_brand .brand svg {
    fill: #fff;
  }
}
